**/output/**
**/output
**/.dnsb_cache/**
**/.dnsb_cache
**/fuzzer_output/**
**/fuzzer_output
nrdg/
*.pdf
**/*.pdf
*.png
**/*.png
*.jpg
**/*.jpg
*.zip
**/*.zip
*.tar*
**/*.tar*
*.cache
**/*.cache
**/.claude/*
**/.claude/**
**/.codex/
**/.codex/**
**/.vscode/
**/.vscode/**
**/.idea/
**/.idea/**