**/
.*
*.txt
*.cache
*.cache.json
*.md
*.yml
*.dot
*.py
*.pcap
*.log
!.gitignore
!users
!src
!src/**
!test
!test/**
!doc
!doc/**
!.github
!.github/**
!scripts
!scripts/**
*.egg-info/
!requirements.txt
!README.md
!template.yml
!mkdocs.yml
**/__pycache__
